* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page {
    background-color: brown;
    height: 400px;
    width: 400px;
    border: grey ridge 20px;
}

.flexou {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
}

.flexou div {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: black dashed 1px;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
p {
    font-family: 'Press Start 2P', cursive;
    color: mediumblue;
}
.deux {
    font-family: 'Press Start 2P', cursive;
    color: green;
}
.trois {
    font-family: 'Press Start 2P', cursive;
    color: red;
}
.bomb {
    color: black;
}
.hov {
    background-color: rgb(131, 131, 131);
}
.chiffre2 {
    color: rgb(131, 131, 131);
}
.chiffre3 {
    color: rgb(131, 131, 131);
}
.chiffreb {
    color: rgb(131, 131, 131);
}
.hov:hover {
    background-color: lightgray;
}
.hov:hover>.chiffre3 {
    color: red;
}
.hov:hover>.chiffre2 {
    color: green;
}
.hov:hover>.chiffreb {
    color: rgb(0, 0, 0);
}